<div>
    <h2>
        <span jhiTranslate="factoryApp.utilisateur.home.title">Utilisateurs</span>
        <button class="btn btn-primary float-right jh-create-entity create-utilisateur-angular-s" [routerLink]="['/', { outlets: { popup: ['utilisateur-angular-s-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="factoryApp.utilisateur.home.createLabel">
            Create new Utilisateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="utilisateurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.nom">Nom</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.prenom">Prenom</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.numeroRue">Numero Rue</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.rue">Rue</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.codePostal">Code Postal</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.ville">Ville</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.pays">Pays</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.mail">Mail</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.numeroTel">Numero Tel</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.username">Username</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.password">Password</span></th>
            <th><span jhiTranslate="factoryApp.utilisateur.enable">Enable</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utilisateur of utilisateurs ;trackBy: trackId">
                <td><a [routerLink]="['../utilisateur-angular-s', utilisateur.id ]">{{utilisateur.id}}</a></td>
                <td>{{utilisateur.nom}}</td>
                <td>{{utilisateur.prenom}}</td>
                <td>{{utilisateur.numeroRue}}</td>
                <td>{{utilisateur.rue}}</td>
                <td>{{utilisateur.codePostal}}</td>
                <td>{{utilisateur.ville}}</td>
                <td>{{utilisateur.pays}}</td>
                <td>{{utilisateur.mail}}</td>
                <td>{{utilisateur.numeroTel}}</td>
                <td>{{utilisateur.username}}</td>
                <td>{{utilisateur.password}}</td>
                <td>{{utilisateur.enable}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../utilisateur-angular-s', utilisateur.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'utilisateur-angular-s/'+ utilisateur.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'utilisateur-angular-s/'+ utilisateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
