/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: seethrought;
    left: -3.5em;

   
    overflow: hidden;
    position: absolute;

    pointer-events: none;

}

.ribbon a {

}
