
<div *ngIf="salle">
    <h2><span jhiTranslate="factoryApp.salle.detail.title">Salle</span> {{salle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.salle.nom">Nom</span></dt>
        <dd>
            <span>{{salle.nom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.salle.cout">Cout</span></dt>
        <dd>
            <span>{{salle.cout}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.salle.capacite">Capacite</span></dt>
        <dd>
            <span>{{salle.capacite}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'salle-angular-s/'+ salle.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
