
<div *ngIf="technicien">
    <h2><span jhiTranslate="factoryApp.technicien.detail.title">Technicien</span> {{technicien.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.technicien.nom">Nom</span></dt>
        <dd>
            <span>{{technicien.nom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.prenom">Prenom</span></dt>
        <dd>
            <span>{{technicien.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.numeroRue">Numero Rue</span></dt>
        <dd>
            <span>{{technicien.numeroRue}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.rue">Rue</span></dt>
        <dd>
            <span>{{technicien.rue}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.codePostal">Code Postal</span></dt>
        <dd>
            <span>{{technicien.codePostal}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.ville">Ville</span></dt>
        <dd>
            <span>{{technicien.ville}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.pays">Pays</span></dt>
        <dd>
            <span>{{technicien.pays}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.mail">Mail</span></dt>
        <dd>
            <span>{{technicien.mail}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.numeroTel">Numero Tel</span></dt>
        <dd>
            <span>{{technicien.numeroTel}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.username">Username</span></dt>
        <dd>
            <span>{{technicien.username}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.password">Password</span></dt>
        <dd>
            <span>{{technicien.password}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.technicien.enable">Enable</span></dt>
        <dd>
            <span>{{technicien.enable}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'technicien-angular-s/'+ technicien.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
