
<div *ngIf="module">
    <h2><span jhiTranslate="factoryApp.module.detail.title">Module</span> {{module.titre}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.module.titre">Titre</span></dt>
        <dd>
            <span>{{module.titre}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.contenu">Contenu</span></dt>
        <dd>
            <span>{{module.contenu}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.objectif">Objectif</span></dt>
        <dd>
            <span>{{module.objectif}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.niveau">Niveau</span></dt>
        <dd>
            <span jhiTranslate="{{'factoryApp.Niveau.' + module.niveau}}">{{module.niveau}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.dateDebut">Date Debut</span></dt>
        <dd>
            <span>{{module.dateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{module.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.formation">Formation</span></dt>
        <dd>
            <div *ngIf="module.formation">
                <a [routerLink]="['/formation-angular-s', module.formationId]">{{module.formation.description}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.formateur">Formateur</span></dt>
        <dd>
            <div *ngIf="module.formateur">
                <a [routerLink]="['/formateur-angular-s', module.formateurId]">{{module.formateur.nom}} {{module.formateur.prenom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.matiere">Matiere</span></dt>
        <dd>
            <div *ngIf="module.matiere">
                <a [routerLink]="['/matiere-angular-s', module.matiereId]">{{module.matiere.nom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.salle">Salle</span></dt>
        <dd>
            <div *ngIf="module.salle">
                <a [routerLink]="['/salle-angular-s', module.salleId]">{{module.salle.nom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="factoryApp.module.videoProjecteur">Video Projecteur</span></dt>
        <dd>
            <div *ngIf="module.videoProjecteur">
                <a [routerLink]="['/video-projecteur-angular-s', module.videoProjecteurId]">{{module.videoProjecteur.code}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'module-angular-s/'+ module.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
