
<div *ngIf="ordinateur">
    <h2><span jhiTranslate="testJhypsterApp.ordinateur.detail.title">Ordinateur</span> {{ordinateur.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testJhypsterApp.ordinateur.processeur">Processeur</span></dt>
        <dd>
            <span jhiTranslate="{{'testJhypsterApp.Processeur.' + ordinateur.processeur}}">{{ordinateur.processeur}}</span>
        </dd>
        <dt><span jhiTranslate="testJhypsterApp.ordinateur.ram">Ram</span></dt>
        <dd>
            <span>{{ordinateur.ram}}</span>
        </dd>
        <dt><span jhiTranslate="testJhypsterApp.ordinateur.quantiteDD">Quantite DD</span></dt>
        <dd>
            <span>{{ordinateur.quantiteDD}}</span>
        </dd>
        <dt><span jhiTranslate="testJhypsterApp.ordinateur.dateAchat">Date Achat</span></dt>
        <dd>
            <span>{{ordinateur.dateAchat | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ordinateur-angular-s/'+ ordinateur.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
