
<div *ngIf="formateur">
    <h2><span jhiTranslate="factoryApp.formateur.detail.title">Formateur</span> {{formateur.nom + " " + formateur.prenom}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.formateur.nom">Nom</span></dt>
        <dd>
            <span>{{formateur.nom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.prenom">Prenom</span></dt>
        <dd>
            <span>{{formateur.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.numeroRue">Numero Rue</span></dt>
        <dd>
            <span>{{formateur.numeroRue}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.codePostal">Code Postal</span></dt>
        <dd>
            <span>{{formateur.codePostal}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.ville">Ville</span></dt>
        <dd>
            <span>{{formateur.ville}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.pays">Pays</span></dt>
        <dd>
            <span>{{formateur.pays}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.mail">Mail</span></dt>
        <dd>
            <span>{{formateur.mail}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.numeroTel">Numero Tel</span></dt>
        <dd>
            <span>{{formateur.numeroTel}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.username">Username</span></dt>
        <dd>
            <span>{{formateur.username}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.password">Password</span></dt>
        <dd>
            <span>{{formateur.password}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.formateur.enable">Enable</span></dt>
        <dd>
            <span>{{formateur.enable}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'formateur-angular-s/'+ formateur.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
