<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFormateurLabel" jhiTranslate="factoryApp.formateur.home.createOrEditLabel">Create or edit a Formateur</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!formateur.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="formateur.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="formateur.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="formateur.prenom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.numeroRue" for="field_numeroRue">Numero Rue</label>
            <input type="text" class="form-control" name="numeroRue" id="field_numeroRue"
                [(ngModel)]="formateur.numeroRue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.rue" for="field_rue">Rue</label>
            <input type="text" class="form-control" name="rue" id="field_rue"
                [(ngModel)]="formateur.rue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.codePostal" for="field_codePostal">Code Postal</label>
            <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                [(ngModel)]="formateur.codePostal" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.ville" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                [(ngModel)]="formateur.ville" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.pays" for="field_pays">Pays</label>
            <input type="text" class="form-control" name="pays" id="field_pays"
                [(ngModel)]="formateur.pays" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.mail" for="field_mail">Mail</label>
            <input type="text" class="form-control" name="mail" id="field_mail"
                [(ngModel)]="formateur.mail" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.numeroTel" for="field_numeroTel">Numero Tel</label>
            <input type="text" class="form-control" name="numeroTel" id="field_numeroTel"
                [(ngModel)]="formateur.numeroTel" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="formateur.username" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="formateur.password" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formateur.enable" for="field_enable">Enable</label>
            <input type="checkbox" class="form-control" name="enable" id="field_enable"
                [(ngModel)]="formateur.enable" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
