<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStagiaireLabel" jhiTranslate="factoryApp.stagiaire.home.createOrEditLabel">Create or edit a Stagiaire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stagiaire.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stagiaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="stagiaire.nom" required minlength="3" maxlength="25"/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="stagiaire.prenom" required minlength="3" maxlength="25"/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.numeroRue" for="field_numeroRue">Numero Rue</label>
            <input type="text" class="form-control" name="numeroRue" id="field_numeroRue"
                [(ngModel)]="stagiaire.numeroRue" maxlength="25"/>
            <div [hidden]="!(editForm.controls.numeroRue?.dirty && editForm.controls.numeroRue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numeroRue?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.codePostal" for="field_codePostal">Code Postal</label>
            <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                [(ngModel)]="stagiaire.codePostal" maxlength="25"/>
            <div [hidden]="!(editForm.controls.codePostal?.dirty && editForm.controls.codePostal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codePostal?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.ville" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                [(ngModel)]="stagiaire.ville" maxlength="25"/>
            <div [hidden]="!(editForm.controls.ville?.dirty && editForm.controls.ville?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ville?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.pays" for="field_pays">Pays</label>
            <input type="text" class="form-control" name="pays" id="field_pays"
                [(ngModel)]="stagiaire.pays" maxlength="25"/>
            <div [hidden]="!(editForm.controls.pays?.dirty && editForm.controls.pays?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pays?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.mail" for="field_mail">Mail</label>
            <input type="text" class="form-control" name="mail" id="field_mail"
                [(ngModel)]="stagiaire.mail" maxlength="25"/>
            <div [hidden]="!(editForm.controls.mail?.dirty && editForm.controls.mail?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mail?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.numeroTel" for="field_numeroTel">Numero Tel</label>
            <input type="text" class="form-control" name="numeroTel" id="field_numeroTel"
                [(ngModel)]="stagiaire.numeroTel" maxlength="25"/>
            <div [hidden]="!(editForm.controls.numeroTel?.dirty && editForm.controls.numeroTel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numeroTel?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="stagiaire.username" maxlength="25"/>
            <div [hidden]="!(editForm.controls.username?.dirty && editForm.controls.username?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="stagiaire.password" maxlength="25"/>
            <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.password?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.enable" for="field_enable">Enable</label>
            <input type="checkbox" class="form-control" name="enable" id="field_enable"
                [(ngModel)]="stagiaire.enable" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.formation" for="field_formation">Formation</label>
            <select class="form-control" id="field_formation" name="formation" [(ngModel)]="stagiaire.formationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="formationOption.id" *ngFor="let formationOption of formations; trackBy: trackFormationById">{{formationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.ordinateur" for="field_ordinateur">Ordinateur</label>
            <select class="form-control" id="field_ordinateur" name="ordinateur" [(ngModel)]="stagiaire.ordinateurId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ordinateurOption.id" *ngFor="let ordinateurOption of ordinateurs; trackBy: trackOrdinateurById">{{ordinateurOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
