
<div *ngIf="stagiaire">
    <h2><span jhiTranslate="factoryApp.stagiaire.detail.title">Stagiaire</span> {{stagiaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.stagiaire.nom">Nom</span></dt>
        <dd>
            <span>{{stagiaire.nom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.prenom">Prenom</span></dt>
        <dd>
            <span>{{stagiaire.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.numeroRue">Numero Rue</span></dt>
        <dd>
            <span>{{stagiaire.numeroRue}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.codePostal">Code Postal</span></dt>
        <dd>
            <span>{{stagiaire.codePostal}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.ville">Ville</span></dt>
        <dd>
            <span>{{stagiaire.ville}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.pays">Pays</span></dt>
        <dd>
            <span>{{stagiaire.pays}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.mail">Mail</span></dt>
        <dd>
            <span>{{stagiaire.mail}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.numeroTel">Numero Tel</span></dt>
        <dd>
            <span>{{stagiaire.numeroTel}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.username">Username</span></dt>
        <dd>
            <span>{{stagiaire.username}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.password">Password</span></dt>
        <dd>
            <span>{{stagiaire.password}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.enable">Enable</span></dt>
        <dd>
            <span>{{stagiaire.enable}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.formation">Formation</span></dt>
        <dd>
            <div *ngIf="stagiaire.formationId">
                <a [routerLink]="['/formation-angular-s', stagiaire.formationId]">{{stagiaire.formationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="factoryApp.stagiaire.ordinateur">Ordinateur</span></dt>
        <dd>
            <div *ngIf="stagiaire.ordinateurId">
                <a [routerLink]="['/ordinateur-angular-s', stagiaire.ordinateurId]">{{stagiaire.ordinateurId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stagiaire-angular-s/'+ stagiaire.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
