
<div *ngIf="gestionnaire">
    <h2><span jhiTranslate="factoryApp.gestionnaire.detail.title">Gestionnaire</span> {{gestionnaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.gestionnaire.nom">Nom</span></dt>
        <dd>
            <span>{{gestionnaire.nom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.prenom">Prenom</span></dt>
        <dd>
            <span>{{gestionnaire.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.numeroRue">Numero Rue</span></dt>
        <dd>
            <span>{{gestionnaire.numeroRue}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.codePostal">Code Postal</span></dt>
        <dd>
            <span>{{gestionnaire.codePostal}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.ville">Ville</span></dt>
        <dd>
            <span>{{gestionnaire.ville}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.pays">Pays</span></dt>
        <dd>
            <span>{{gestionnaire.pays}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.mail">Mail</span></dt>
        <dd>
            <span>{{gestionnaire.mail}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.numeroTel">Numero Tel</span></dt>
        <dd>
            <span>{{gestionnaire.numeroTel}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.username">Username</span></dt>
        <dd>
            <span>{{gestionnaire.username}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.password">Password</span></dt>
        <dd>
            <span>{{gestionnaire.password}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.gestionnaire.enable">Enable</span></dt>
        <dd>
            <span>{{gestionnaire.enable}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gestionnaire-angular-s/'+ gestionnaire.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
