
<div *ngIf="ressource">
    <h2><span jhiTranslate="factoryApp.ressource.detail.title">Ressource</span> {{ressource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="factoryApp.ressource.code">Code</span></dt>
        <dd>
            <span>{{ressource.code}}</span>
        </dd>
        <dt><span jhiTranslate="factoryApp.ressource.cout">Cout</span></dt>
        <dd>
            <span>{{ressource.cout}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ressource-angular-s/'+ ressource.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
