<div>
    <h2>
        <span jhiTranslate="factoryApp.formation.home.title">Formations</span>
        <button class="btn btn-primary float-right jh-create-entity create-formation-angular-s" [routerLink]="['/', { outlets: { popup: ['formation-angular-s-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="factoryApp.formation.home.createLabel">
            Create new Formation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="formations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="factoryApp.formation.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="factoryApp.formation.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="factoryApp.formation.description">Description</span></th>
            <th><span jhiTranslate="factoryApp.formation.formateur">Formateur</span></th>
            <th><span jhiTranslate="factoryApp.formation.gestionnaire">Gestionnaire</span></th>
            <th><span jhiTranslate="factoryApp.formation.module">Modules</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formation of formations ;trackBy: trackId">
                <td><a [routerLink]="['../formation-angular-s', formation.id ]">{{formation.id}}</a></td>
                <td>{{formation.dateDebut | date:'mediumDate'}}</td>
                <td>{{formation.dateFin | date:'mediumDate'}}</td>
                <td>{{formation.description}}</td>
                <td>
                    <div *ngIf="formation.formateurId">
                        <a [routerLink]="['../formateur-angular-s', formation.formateurId  ]" >{{formation.formateurId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formation.gestionnaireId">
                        <a [routerLink]="['../gestionnaire-angular-s', formation.gestionnaireId  ]" >{{formation.gestionnaireId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="formation.modules">
                        <a [routerLink]="['../formation-angular-s', formation.id, 'module-edit' ]"> {{formation.modules.length}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../formation-angular-s', formation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formation-angular-s/'+ formation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formation-angular-s/'+ formation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
