<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFormationLabel" jhiTranslate="factoryApp.formation.home.createOrEditLabel">Create or edit a Formation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!formation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="formation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formation.dateDebut" for="field_dateDebut">Date Debut</label>
            <div class="input-group">
                <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" [(ngModel)]="formation.dateDebut"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formation.dateFin" for="field_dateFin">Date Fin</label>
            <div class="input-group">
                <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="formation.dateFin"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formation.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="formation.description" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formation.formateur" for="field_formateur">Formateur</label>
            <select class="form-control" id="field_formateur" name="formateur" [(ngModel)]="formation.formateurId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="formateurOption.id" *ngFor="let formateurOption of formateurs; trackBy: trackFormateurById">{{formateurOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.formation.gestionnaire" for="field_gestionnaire">Gestionnaire</label>
            <select class="form-control" id="field_gestionnaire" name="gestionnaire" [(ngModel)]="formation.gestionnaireId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gestionnaireOption.id" *ngFor="let gestionnaireOption of gestionnaires; trackBy: trackGestionnaireById">{{gestionnaireOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
